@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    background-color: rgb(227, 227, 227);
}

.contenedor-principal {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    height: auto;
}

/*BARRA NAVEGACION*/
.navbar {
    width: 100%;
    height: 8rem;
    background-color: rgb(1, 1, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 1000;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.navbar-menu li {
    color: white;
    position: relative;
    display: inline-block;
    position: relative;
}

.navbar-menu li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.navbar-menu li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: transform 0.25s ease-out;
}

.navbar-menu li:hover::after {
    transform: scaleX(1);
}



/*LOGO*/




.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    border: 3px solid transparent;
    padding: 0.2rem;
    border-radius: 50%;
    background-image:
        linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), linear-gradient(145deg, rgb(103, 0, 14), rgb(255, 0, 17));
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.navbar-logo img {
    border-radius: 50%;
}


/*CONFIGURAR AQUI MENU HAMBURGUESA*/

/*FIM MENU HAMBURGUESA*/

/*CARRUSEL*/
/*CONTENEDOR PRINCIPAL*/

h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 600px;
    color: white;
    text-align: center;
}

.contenedor-carrusel-imagenes {
    display: flex;
    position: relative;
    width: 100vw; /* Asegura que ocupe todo el ancho de la ventana */
    height: 100vh;
    max-height: 800px; /* Ajusta la altura del carrusel */
}

.contenedor-carrusel {
    display: grid;
    grid-template-columns: repeat(3,100%);
    animation: carrusel 7s infinite;
    transition: transform 0.5 ease-in-out;
    width: 100vw;         /* Asegura que ocupe todo el ancho de la ventana */
    height: object-fit; /* Ajusta la altura al contenido */
}

.contenedor-carrusel > div {
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    flex-shrink: 0;
}



.imagen1 {
    background-image: url(/imagenes/carrusel/ltuwjtkv.png);
    position: relative;
}

.imagen2 {
    background-image: url(/imagenes/carrusel/mercedez.png);
    position: relative;
}

.imagen3 {
    background-image: url(/imagenes/carrusel/Porsche\ Taycan\ Turbo\ S\ 2020.jpg);
    position: relative;
}



@keyframes carrusel {
    0% {transform: translateX(0%);}
    20% {transform: translateX(0%);}
    25% {transform: translateX(-100%);}
    45% {transform: translateX(-100%);}
    50% {transform: translateX(-200%);}
    70% {transform: translateX(-200%);}
    75% {transform: translateX(-100%);}
    100% {transform: translateX(0%);}
}

