@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    background-color: #0D0E20;
}

.contenedor-principal {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    height: auto;
}

/*BARRA NAVEGACION*/

header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Asegura que quede encima */
    background: transparent;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00000057; /* Fondo semi-transparente */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 1000;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.navbar-menu li {
    position: relative;
    display: inline-block;
    position: relative;
}

.navbar-menu li a {
    font-size: 1.125rem;
    letter-spacing: 0.20625rem;
    text-decoration: none;
    color: #F0EDE5;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.navbar-menu li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F0EDE5;
    transition: transform 0.25s ease-out;
}

.navbar-menu li:hover::after {
    transform: scaleX(1);
}

.navbar-hamburger {
    display: none; /* Ocultar por defecto */
    cursor: pointer;
}

.navbar-mobile {
    display: none; /* Ocultar por defecto */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #00000057; /* Fondo semi-transparente */
    padding: 1rem 0;
}

/*LOGO*/
.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    border: 3px solid transparent;
    padding: 0.2rem;
    border-radius: 50%;
    border: 2px solid black;
}

.navbar-logo img {
    border-radius: 50%;
}

/*CONFIGURAR AQUI MENU HAMBURGUESA*/

.abrir-menu {
    position: absolute;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.abrir-menu{
    top: -50%;
    right: 20px;
    transform: translate(-50%);
}

#check{display: none;}
@media (max-width: 768px) {
    .abrir-menu  {
    display: block;
    z-index: 1001;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        }

    #check:checked ~ .navbar-menu {   
        right: 0;
    }

    .abrir-menu {
        position: absolute;
        top: 20px;
        right: 30px;
    }
}
/*FIN MENU HAMBURGUESA*/

/*CARRUSEL*/
/*CONTENEDOR PRINCIPAL*/

h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #F5FDE9;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    letter-spacing: 5px;
}

.contenedor-carrusel-imagenes {
    display: flex;
    position: relative;
    width: 100vw; /* Asegura que ocupe todo el ancho de la ventana */
    height: 100vh;
    max-height: 800px; /* Ajusta la altura del carrusel */
}

.contenedor-carrusel {
    display: grid;
    grid-template-columns: repeat(3,100%);
    animation: carrusel 7s infinite;
    transition: transform 0.5 ease-in-out;
    width: 100vw;         /* Asegura que ocupe todo el ancho de la ventana */
    height: object-fit; /* Ajusta la altura al contenido */
}

.contenedor-carrusel > div {
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    flex-shrink: 0;
}

.imagen1 {
    background-image: url(./imagenes/carrusel/Lamborghini-urus.webp);
    position: relative;
}

.imagen2 {
    background-image: url(./imagenes/carrusel/mercedez.png);
    position: relative;
}

.imagen3 {
    background-image: url(./imagenes/carrusel/Porsche\ Taycan\ Turbo\ S\ 2020.jpg);
    position: relative;
}

@keyframes carrusel {
    0% {transform: translateX(0%);}
    20% {transform: translateX(0%);}
    25% {transform: translateX(-100%);}
    45% {transform: translateX(-100%);}
    50% {transform: translateX(-200%);}
    70% {transform: translateX(-200%);}
    75% {transform: translateX(-100%);}
    100% {transform: translateX(0%);}
}

/* Zona de las cartas*/ 

.caja-grande{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 24px;
    margin: 6% auto 0;
    margin-top: 80px;
    padding: 40px 0px;
    width: 100vw;
    justify-content: space-between;
}

.carta{
    padding-top: 10px;
    position: relative;
    width: 420px;
    max-width: 90vw;
    min-width: 320px;
    height: 480px;
    margin: 0 auto;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    overflow: hidden;
    background: #0D0E20;
    border-radius: 15px;
    transition: all 0.8s ease-in-out;
}

.carta:hover{
    transform: translateY(-10px);
}

.imagen-zona{
    position: relative;
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.imagen-zona img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.imagen-zona:hover img {
    transform: scale(1.1);
}

.cobertura{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(48,80,122,0.8);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.carta:hover .cobertura{
    opacity: 1;
}

.añade-carro, .detalles{
    background-color: #D9CBC2;
    color: #3C507D;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3 ease;
    margin-bottom: 10px;
}

.añade-carro:hover, .detalles:hover{
    background-color: #E0C58F;
    color: #fff;
    border: none;
}

.descripcion{
    padding: 10px;
    text-align: center;
    color: #F5F0E9;
    font-weight: lighter;
    letter-spacing: 2.5px;
}

.descripcion h3{
    margin: 15px 0 10px;
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.descripcion .precio{
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold;
    color: #E0C58F;
}